railo-java/railo/build
railo-java/railo-core/bin
railo-java/railo-core/bin/*
railo-java/railo-core/dist
railo-java/railo-core/build
railo-java/railo-loader/bin
railo-java/railo-loader/bin/*
railo-java/railo-debug/bin
railo-java/railo-debug/web/tests/*
railo-java/railo-debug/bin/*
railo-java/libs/bin
railo-java/railo-loader/build
railo-cfml/WEB-INF/
**/.DS_Store
**/.svn/
railo-cfml/.DS_Store
railo-java/.DS_Store
railo-java/railo-core/.DS_Store
railo-java/railo-core/src/resource/library/tag/.DS_Store
railo-java/railo-core/bin/.DS_Store
railo-cfml/railo-admin/admin2/
/*.project
va specific
*.class
*.rc
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
pom.xml
sample.mov
/.idea/
/*.iml
