railo-java/railo/build
railo-java/railo-core/bin
railo-java/railo-core/dist
railo-java/railo-core/build
railo-java/railo-loader/bin
railo-java/railo-loader/build

railo-cfml/WEB-INF/
.DS_Store
**/.svn/
railo-cfml/.DS_Store
railo-java/.DS_Store
railo-java/railo-core/.DS_Store
railo-java/railo-core/src/resource/library/tag/.DS_Store
railo-cfml/railo-admin/admin2/